/*****harold*****/
/* #harold(headerfqwhkqilkzf) #css starts  */
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link{
    color: #37423b
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link:hover{
    color: #06BBCD
}
/* #harold(headerfqwhkqilkzf) #css ends  */
/*****harold*****/

/*****caavo*****/
    /* #caavo(caavoduJuy9P4WAKtH2J) #css starts  */
    .caavoduJuy9P4WAKtH2J .fdb-block {
        padding: 5.5rem 0
    }
    .caavoduJuy9P4WAKtH2J h2{
        color: #37423b;
        font-size: 2.5rem
    }
    .caavoduJuy9P4WAKtH2J .lead {
        font-size: 1.25rem
    }

    .caavoduJuy9P4WAKtH2J .btn-outline-primary {
        color: #37423b;
        font-weight: 600;
        border-color: #37423b;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .caavoduJuy9P4WAKtH2J .btn-outline-primary:not(:disabled):not(.disabled):active,
    .caavoduJuy9P4WAKtH2J .btn-outline-primary:hover {
        color: #fff;
        background-color: #06BBCD;
        border-color: #06BBCD
    }
    /* #caavo(caavoduJuy9P4WAKtH2J) #css ends  */
/*****caavo*****/

/*****fori*****/
/* #fori(foriftgon8pdoif) #css starts */
.foriftgon8pdoif .fdb-block {
    padding: 5.5rem 0
}
.foriftgon8pdoif h3{
    margin-top: 10px;
    color: #37423b
}
/* #fori(foriftgon8pdoif) #css starts */
/*****fori*****/ 

/*****cjaime*****/
    /* #cjaime(calltoactioncahjtby06rt) #css starts  */
    .calltoactioncahjtby06rt .fdb-block {
        padding: 5.5rem 0
    }
    .calltoactioncahjtby06rt .btn-secondary {
    background-color: #fff;
    font-weight: 600;
    border: 1px solid #37423b;
    color: #37423b;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px
    }
    .calltoactioncahjtby06rt .btn-secondary:hover,
    .calltoactioncahjtby06rt .btn-secondary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #06BBCD;
        border-color: #06BBCD
    }
    .calltoactioncahjtby06rt .lead {
        font-size: 1.25rem
    }
    /* #cjaime(calltoactioncahjtby06rt) #css ends  */
/*****cjaime*****/

/*****pony*****/
/* #pony(productsfd232222df02a491) #css starts  */
.productsfd232222df02a491{
    padding: 5.5rem 0
}
.productsfd232222df02a491 .title {
    color: #37423b;
    font-weight: 600
}
/* #pony(productsfd232222df02a491) #css ends  */
/*****pony*****/


/*****basu*****/
/* #basu(d12294b36d7b134b) #css starts  */

.bannerd12294b36d7b134b .button {
    background-color: #fff;
    font-weight: 600;
    border: 1px solid #37423b;
    color: #37423b;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px
}
.bannerd12294b36d7b134b .button:hover,
.bannerd12294b36d7b134b .btn-secondary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #06BBCD;
    border-color: #06BBCD
}

/* #basu(d12294b36d7b134b) #css ends  */
/*****basu*****/

/*****tammy*****/ 
/* #tammy(teamtmi4xt29bn1) #css starts */
.teamtmi4xt29bn1 .fdb-block {
     padding: 5.5rem 0
}
.teamtmi4xt29bn1 h1 {
    font-size: 2rem
}
.teamtmi4xt29bn1 h4 {
    margin-top: 10px
}
/* #tammy(teamtmi4xt29bn1) #css ends */
/*****tammy*****/

/*****tioni*****/
    /* #tioni(testimonialtmrwms6esfu) #css starts  */
    
    .testimonialtmrwms6esfu .fdb-block {
        padding: 5.5rem 0
    }
       .testimonialtmrwms6esfu strong {      
          color: #37423b
        }

          .testimonialtmrwms6esfu  .fdb-block .fdb-touch {
          border-top: solid 0.3125rem #06BBCD 
        }
         
    /* #tioni(testimonialtmrwms6esfu) #css ends  */
/*****tioni*****/

/*****flores*****/
    /* #flores(floresfts2q9glqh3) #css starts */
    .floresfts2q9glqh3 .fdb-block {
        padding: 2.5rem 0
    }
    .floresfts2q9glqh3 .bg-dark {
        background-color: #37423b !important
     }
     .floresfts2q9glqh3 h3 {
        font-size: 25px
     }
     .floresfts2q9glqh3 a{
        color: #06BBCD
     }
     .floresfts2q9glqh3 a:hover{
        color: #06BBCD
     }
    /* #flores(floresfts2q9glqh3) #css ends */
/*****flores*****/