/*****harold*****/
/* #harold(headerfqwhkqilkzf) #css starts  */
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link{
    color: rgb(0 0 0)
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link:hover{
    color: #06BBCD
}
/* #harold(headerfqwhkqilkzf) #css ends  */
/*****harold*****/

/*****caavo*****/
    /* #caavo(caavoduJuy9P4WAKtH2J) #css starts  */
    .caavoduJuy9P4WAKtH2J h2{
        color: #06BBCD
    }

    .caavoduJuy9P4WAKtH2J .btn-outline-primary {
        color: #000000;
        font-weight: bold;
        border-color: #000000
    }

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #06BBCD;
        border-color: #06BBCD
    }
    /* #caavo(caavoduJuy9P4WAKtH2J) #css ends  */
/*****caavo*****/

/*****fori*****/
/* #fori(foriftgon8pdoif) #css starts */
.foriftgon8pdoif h3{
    color: #06BBCD
}
/* #fori(foriftgon8pdoif) #css starts */
/*****fori*****/ 

/*****cjaime*****/
    /* #cjaime(calltoactioncahjtby06rt) #css starts  */
    .calltoactioncahjtby06rt .btn-secondary{
    background-color: #06BBCD;
    font-weight: bold;
    border: #06BBCD
    }
    /* #cjaime(calltoactioncahjtby06rt) #css ends  */
/*****cjaime*****/

/*****basu*****/
/* #basu(d12294b36d7b134b) #css starts  */

.bannerd12294b36d7b134b .button {
    background-color: #06BBCD;
    color: black
}

/* #basu(d12294b36d7b134b) #css ends  */
/*****basu*****/